.rebuy-cart [data-rebuy-cart-anchor=header] {
  padding-top: 0;
  gap: 0;
}
.rebuy-cart [data-rebuy-cart-anchor=header] [data-rebuy-cart-header-top] {
  background: linear-gradient(90deg, #F3A9A9 0%, #F5BCC4 39.42%);
  padding-block: 10px;
}
.rebuy-cart [data-rebuy-component=title-bar] {
  color: #000;
  text-transform: unset;
  letter-spacing: 10%;
}
.rebuy-cart [data-rebuy-component=announcement-bar] .message {
  font-size: 12px;
  padding-block: 5px;
  letter-spacing: -1%;
}
.rebuy-cart [data-rebuy-component=progress-bar] {
  padding-top: 8px;
}
.rebuy-cart [data-rebuy-component=progress-bar] .rebuy-cart__progress-bar-meter {
  background: #0000001a;
}
.rebuy-cart [data-rebuy-component=progress-bar] .rebuy-cart__progress-bar-meter,
.rebuy-cart [data-rebuy-component=progress-bar] .rebuy-cart__progress-bar-meter-fill {
  height: 8px;
}
.rebuy-cart .rebuy-cart__flyout-shipping-bar-meter-fill,
.rebuy-cart .rebuy-cart__progress-bar-meter-fill,
.rebuy-cart .complete .rebuy-cart__progress-step-icon,
.rebuy-cart [data-rebuy-component="progress-bar"] .rebuy-cart__progress-bar-meter-fill,
.rebuy-cart [data-rebuy-component="progress-bar"] .rebuy-cart__progress-step.complete .rebuy-cart__progress-step-icon {
  background: #000;
  color: #fff;
}
.rebuy-cart [data-rebuy-component=progress-bar] .rebuy-cart__progress-bar-prompt {
  margin-top: 8px;
  font-size: 13px;
  line-height: 1;
}
body .rebuy-cart__flyout-item-product-title,
body .rebuy-cart__flyout-item-product-title:hover,
body .rebuy-cart__flyout-item-product-title:active,
body .rebuy-cart__flyout-item-product-title:visited,
body [data-rebuy-component="cart-items"] .rebuy-cart__flyout-item-product-title,
body [data-rebuy-component="cart-items"] .rebuy-cart__flyout-item-product-title:hover,
body [data-rebuy-component="cart-items"] .rebuy-cart__flyout-item-product-title:active,
body [data-rebuy-component="cart-items"] .rebuy-cart__flyout-item-product-title:visited {
  color: #000;
}
.rebuy-cart [data-rebuy-component=cart-items] .rebuy-cart__flyout-item-product-title {
  font-weight: 600;
  letter-spacing: -1%;
}
.rebuy-cart .rebuy-cart__flyout-announcement-bar,
.rebuy-cart [data-rebuy-component="announcement-bar"] {
  background: #E8F4EB;
  color: #000;
}
.rebuy-cart .rebuy-cart__flyout-item-price .rebuy-money.sale,
.rebuy-cart [data-rebuy-component="cart-items"] .rebuy-cart__flyout-item-price .rebuy-money.sale {
  color: #000;
}
.rebuy-cart .rebuy-cart__flyout-item-price .rebuy-money.compare-at,
.rebuy-cart [data-rebuy-component="cart-items"] .rebuy-cart__flyout-item-price .rebuy-money.compare-at {
  color: #000;
  opacity: .3;
}
.rebuy-cart [data-rebuy-component=cross-sell-widget] .rebuy-widget .primary-title {
  font-family: var(--font-body--family);
  font-weight: 600;
  letter-spacing: -1%;
  margin-bottom: 14px;
}
.rebuy-cart .rebuy-widget .rebuy-product-grid.large-style-line .rebuy-product-block:not(:last-child) {
  margin-bottom: 16px;
}
.rebuy-cart .rebuy-widget .rebuy-product-grid.large-style-line .rebuy-product-block .rebuy-product-media {
  width: 90px;
}
.rebuy-cart .rebuy-widget .rebuy-product-block .rebuy-product-info .rebuy-product-title {
  font-weight: 600;
  margin: 0;
}
.rebuy-cart .rebuy-widget .rebuy-product-block .rebuy-product-info .rebuy-product-title {
  margin: 0;
}
.rebuy-cart .rebuy-widget .rebuy-product-block .rebuy-product-info .rebuy-product-title a {
  font-weight: 600;
  margin: 0;
  letter-spacing: -1%;
}
.rebuy-cart .rebuy-widget .rebuy-product-review .rebuy-review-count {
  display: none;
}
.rebuy-cart .rebuy-widget .rebuy-product-block .rebuy-product-info .rebuy-product-price {
  font-size: 12px;
}
.rebuy-cart .rebuy-widget .rebuy-product-review {
  margin-top: 0;
}
.rebuy-cart .rebuy-widget .rebuy-money.compare-at {
  color: #000;
  opacity: .3;
}
body .rebuy-cart .rebuy-widget .rebuy-product-actions .rebuy-button {
  height: auto;
  padding-block: 2px 0;
  height: 33px;
  font-size: 14px;
  width: 100%;
  letter-spacing: -.48px;
  font-weight: 600;
  background-color: #e8ec90;
  border-color: #e8ec90;
  border-width: 1px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .15s ease;
}
.rebuy-cart .rebuy-widget .rebuy-product-actions .rebuy-button:hover {
  background: transparent;
  border-color: #000;
  color: #000;
}
.rebuy-cart .rebuy-widget .rebuy-product-grid.large-style-line .rebuy-product-block .rebuy-product-actions {
  width: 90px;
}
.rebuy-cart .rebuy-widget .rebuy-product-grid.large-style-line .rebuy-product-block {
  align-items: center;
  background: #E8F4EB;
}
.rebuy-cart .rebuy-cart__flyout-item-subscription .rebuy-button.outline {
  padding: 4px 16px;
  border-color: #000;
  color: #000;
}
.rebuy-cart .rebuy-money.sale, .rebuy-cart .rebuy-widget .rebuy-money.sale, .rebuy-cart .rebuy-cart__flyout-subtotal-final-amount, .rebuy-cart .rebuy-reorder-cart-total-price-final-amount, .rebuy-cart [data-rebuy-component="cart-subtotal"] .rebuy-cart__flyout-subtotal-final-amount, .rebuy-cart [data-rebuy-component="cart-subtotal"] .rebuy-reorder-cart-total-price-final-amount {
  color: #000;
}
.rebuy-cart [data-rebuy-component=cart-subtotal].rebuy-cart__flyout-subtotal-compare-amount, .rebuy-cart [data-rebuy-component=cart-subtotal] .rebuy-cart__flyout-subtotal-compare-amount {
  color: #000;
  opacity: .3;
  font-weight: 400;
}
body .rebuy-cart .rebuy-widget .rebuy-product-grid.large-style-line .rebuy-product-block {
  align-items: center;
}
.rebuy-cart .rebuy-button.rebuy-cart__checkout-button,
.rebuy-cart .rebuy-cart__flyout .rebuy-cart__flyout-empty-cart a {
  background-color: #e8ec90;
  border: 1px solid #e8ec90;
  color: #000;
  font-family: var(--button-font-family-primary);
  text-transform: lowercase;
  border-radius: var(--style-border-radius-buttons-primary);
  letter-spacing: -1%;
  padding-block: calc(var(--button-padding-block) - 0.5px);
  height: auto;
  line-height: 1.056;
  transition: all .15s ease;
  text-decoration: none;
}
.rebuy-cart .rebuy-button.rebuy-cart__checkout-button:hover,
.rebuy-cart .rebuy-cart__flyout .rebuy-cart__flyout-empty-cart a:hover {
  background: transparent;
  border-color: #000;
  color: #000;
}
.rebuy-cart [data-rebuy-component=title-bar] {
  background-image: url('https://smilie.com.au/cdn/shop/files/Logo_4.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center left;
  font-size: 0;
  flex: 1;
}
[data-rebuy-component=cart-items] .rebuy-cart__flyout-item-buy-more-save-more-button{
  border-color:transparent
}
@media (max-width: 374px) {
  .rebuy-cart .rebuy-widget .rebuy-product-grid.large-style-line .rebuy-product-block .rebuy-product-media {
    width: 70px;
  }
}